.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared styles */
.primary-color {
    color: #FD6E0A;
}

.dark-1 {
    color: #181818;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
}

.button-primary {
    padding: 18px 36px;
    border: none;
    border-radius: 8px;
    background-color: #FD6E0A;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.button-secondary {
    padding: 18px 36px;
    border-radius: 8px;
    border: #FD6E0A solid 1px;
    color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    margin-left: 30px;
}

/* header background */
.header-bg {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 228px;
    margin-right: 228px;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 51px;
}

/* banner section */

.banner-content {
    max-width: 585px;
}

.banner-greeting {
    font-weight: 700;
    font-size: 45px;
    margin: 0;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin: 0;
}

.banner-paragraph {
    font-weight: 400;
    font-size: 18px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 230px;
}

.banner-profile-image {
    width: 588px;
    height: auto;
}

/* main section */
.main-section {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section */
.about-section{
    text-align: center;
    padding: 131px 156px;
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 8px;
}

.contact-info{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px;
}

.about{
    border: black solid 1px;
    background-color: white;
}

/* what i do section */
.what-i-do-section {
    margin-top: 130px;
    text-align: center;
}
.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 50px;
    margin-bottom: 130px;
    
}

.cards-shadow{
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px 30px;
}

/* resume section */
.resume-section {
    margin-bottom: 130px;
    /* text-align: center; */
}

.resume-section-card {
    display: flex;
    justify-content: left;
    gap: 100px;
    /* margin-top: 110px; */
}